/* BRAND COLORS */
/* primary: #1062AE */
/* black: #282828 */
/* gray: #696969 */
/* light-gray: #969696 */
/* light-gray-background: #F4F4F4 */
/* white: #FFFFFF */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #282828;
}

input {
  border-color: #969696;
}

.bg-brand-primary {
  background-color: #1062AE;
}

.bg-brand-light-gray {
  background-color: #F4F4F4;
}

.border-brand-primary {
  border-color: #1062AE;
}

.border-brand-light-gray {
  border-color: #969696;
}

.text-brand-base {
  font-size: 16px;
}

.text-brand-sm {
  font-size: 14px;
}

.text-brand-lg {
  font-size: 22px;
}

.text-brand-black {
  color: #282828;
}

.text-brand-light-gray {
  color: #969696;
}

.text-brand-gray {
  color: #696969;
}

.text-brand-primary {
  color: #1062AE;
}

.border-brand-black {
  border-color: #282828;
}

.w-brand-screen-lg {
  width: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
@media only screen and (min-width: 1024px) {
  .w-brand-screen-lg {
    max-width: 1200px;
  }
}

.checkbox-brand-primary {
  outline: 2px solid #1062AE;
  outline-offset: -2px;
}

.min-w-fit {
  min-width: fit-content;
}

.box-shadow-brand-card {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.w-brand-card {
  width: 335px;
}

.h-70vh {
  height: 70vh;
}

.screenshot {
  /* max-width: 960px; */
  /* margin: 0 auto; */
  /* height: 600px; */
}

/* .screenshot-img { */
/*   max-width: 960px; */
/*   background-image: url(/static/problem_editor_screenshot.png); */
/*   background-size: 100%; */
/*   background-repeat: no-repeat; */
/*   margin: auto; */
/*   height: 672px; */
/*   filter: drop-shadow(0 0 50px rgba(0, 0, 0, .67)); */
/* } */

.screenshot-img {
  box-shadow: 0 0 50px rgba(0, 0, 0, .67);
}
