body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input {
  border-color: #969696;
}

body > header {
  border-color: #969696;
}

.bg-brand-primary {
  background-color: #1062AE;
}

.border-brand-primary {
  border-color: #1062AE;
}

.bg-brand-light-grey {
  background-color: #F4F4F4;
}

.text-brand-large {
  font-size: 22px;
}

.text-brand-light {
  font-weight: 300;
}
